# Listing path patterns that shall be ignored by git:
*.beam
*.traces
*.log
*.plt
*erlang.log.*
declared-types-in-*.txt
.eunit
erl_crash.dump
overview.edoc
doc/index.html
doc/api-doc/
doc/us-common-technical-manual-english.html
doc/us-common-technical-manual-english.rst
doc/mathjax
doc/us-common-technical-manual-english.aux
doc/us-common-technical-manual-english.pdf
doc/us-common-technical-manual-english.tex
doc/us-common-technical-manual-english.toc

# For Emacs temporary files:
*.#*

*~

# Added in relation to rebar3:
.rebar
rebar3.crashdump
.rebar3
_*

# Mere symlink:
src/us_common.app.src

# Generated:
conf/rebar.config