% This a test configuration file for the Traces layer, in the context of
% US-Common.

[

  % Settings for the 'traces' application:
  { traces, [

		% As we want each US-* application to be autonomous from the others,
		% hence to rely on its own trace aggregator:
		%
		{ trace_aggregator_registration_scope, local_only }

			] }

].
