% This is an overall configuration file for the test of the Universal Server.
%
% Typically to be symlinked as ~/.config/universal-server/us.config.




% General section, mostly useful for companion shell scripts:


% The Erlang cookie to use, so that VMs can communicate:
{ vm_cookie, 'e08a-4fa2-bcb5-6b44edbd603b-test' }.


% The EPMD TCP port to be used for the Erlang VMs (default: 4369):
{ epmd_port, 4506 }.


% The execution context (relaxed for development, stricter/safer/adapted for
% production):
%
% (default: production)
%
{ execution_context, development }.



% Main section, mostly useful for the US services themselves:


% Users, specified mostly for launcher scripts:

% The user who shall launch the Universal server:
%{ us_username, "joe" }.


% So that multiple instances may co-exist and be reachable:
{ us_server_registration_name, test_universal_server }.
{ us_config_server_registration_name, test_universal_config_server }.


% Tells where the various US applications involved are located (useful for
% management start/stop scripts):
%
% (if such an entry is not defined here, the US_APP_BASE_DIR environment
%  variable will be tested as a last resort)
%
% For example "$HOME/[...]/universal_server":
%{ us_app_base_dir, "" }.


% To override the default log base directory (which is /var/log, not writable
% for normal users):
%
% (a relative path shall be relied here upon only for embedded testing)
%
{ us_log_dir, "../../../../priv/for-testing/log" }.



% Configuration for the US Webserver (overriding the default filename, which is
% "us-web.config"):
%
{ us_web_config_filename, "us-web-for-tests.config" }.



% Test-specific section.


% To test the rejection of invalid entries:

%{ invalid_term, ...
%{ unexpected_key, some_value }.